nav.navbar.navbar-inverse.navbar-static-top

  a.navbar-brand( href='#' ) Roomba Client

  //- ul.nav.nav-pills

  //-   li.nav-item
  //-     a.nav-link( href='#' ) Home

  //-   li.nav-item
  //-     a.nav-link( href='#' ) About

  //-   li.nav-item
  //-     a.nav-link( href='#' ) Contact
